@import "partials/vars";
@import "partials/fonts";
@import "partials/colors";
@import "partials/background";
@import "partials/border";
@import "partials/blocks";
// @import "partials/horizontal-scroll-cat";




html
{
  scroll-behavior: smooth;
    margin-top: 0 !important;
}
.body{
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  // background-color: #e6e5e3 !important;
//  overflow: hidden !important;

}
// body::-webkit-scrollbar {
//     width: 0 !important;
// }
body,
.dropdown-menu::-webkit-scrollbar {
    width: 0 !important;
}
hr{
    height: 2px;
}
// .row{
//   width: 100% !important;
// }
a
{
  color: black;
  text-decoration: none;
}
h1{
    font-size : $t6;
}
h2{
    font-size: $t5;
}
h3{
    font-size: $t4;
}
h4{
    font-size: $t3;
}
h5{
    font-size: $t2;
}
h6{
    font-size: $t1;
}
p, div, legend, input, select, ul, li, table{
    font-size: $t0;
}
input[type=submit]{
  color: white !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 5px !important;
  background-color :$color3 !important;
  border: solid 2px #e6e5e3;
  padding: 10px !important;
  transition: 0.3s;

}
.slide{
  height: 80vh !important;
  z-index: 10000;
  // background-color: $color2;
}

.header{
  height: 20vh;
  // margin-top: 10vh !important;
  z-index:4000;
  width: 100%;
  position: sticky;
  pointer: none !important;
  top: 0;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,229,227,1) 82%, rgba(230,229,227,0.5088410364145659) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,229,227,1) 82%, rgba(230,229,227,0.5088410364145659) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,229,227,1) 82%, rgba(230,229,227,0.5088410364145659) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6e5e3",GradientType=1);
}

.header2{
  height: 10vh;
  // margin-top: 10vh !important;
  z-index:4000;
  width: 100%;
  position: sticky;
  pointer: none !important;
  top: 0;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,229,227,1) 82%, rgba(230,229,227,0.5088410364145659) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,229,227,1) 82%, rgba(230,229,227,0.5088410364145659) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,229,227,1) 82%, rgba(230,229,227,0.5088410364145659) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6e5e3",GradientType=1);
}
.ul2{
    line-height: 15vh !important;
}
.header img{
    max-width: 100%;
    height: auto;
}
.footer{
  height: 20vh;
  width: 100%;

}


iframe{
  width: 100%;
  //
}
.logo{
  width: 100%;

}
.article-content-full{
  height: 80vh;
}
.paint-img{
  max-height: 80vh;
  max-width:100%;
  display: block;
  margin-left:5vw;
  padding: 10px;
}
.place-img{
  height: auto;
  padding: 20px;
  display: block;
  margin: auto;
}
.img{
  display: block;
}
.article-h1{
  color: $color3;
  margin-bottom: 20px;
  line-height: 0.8;
}
a,
.a{
  text-decoration: none;
}
ul,
.ul{
  list-style-type: none;
}
//.t0{
//  font-size:$t0;
//}
//.t1{
//  font-size:$t1 ;
//}
//.t2{
//  font-size:$t2 ;
//}
//.t3{
//  font-size:$t3 ;
//}
//.t4{
//  font-size:$t4 ;
//}
//.t5{
//  font-size:$t5 ;
//}
//.t6{
//  font-size:$t6 ;
//}
//.t7{
//  font-size:$t7 ;
//}
//.t8{
//  font-size:$t8 ;
//}
//.t9{
//  font-size:$t9 ;
//}
//.t10{
//  font-size:$t10 ;
//}

.caption,
.caption2,
.caption3,
.caption5{

  color:#ffffff;

  z-index: 1001 !important;
  -webkit-box-shadow: 10px 5px 5px $color5 !important;
  -moz-box-shadow: 10px 5px 5px $color5 !important;
  box-shadow: 10px 5px 5px $color5 !important;

}

.toile img,
.shadow{
  -webkit-box-shadow: 10px 5px 5px $color5 !important;
  -moz-box-shadow: 10px 5px 5px $color5 !important;
  box-shadow: 10px 5px 5px $color5 !important;
}
.float-thumb{
  height: auto;
  float: none;
  margin-bottom: 20px;
  padding: 10px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.map iframe{
  opacity: 0;
  transition: 1s;
  width: 1%;


}
.a-hover-110{
  transition: 0.8s
}
.title-red{
  padding:30px;
  background: $color3;
  margin-top: 10vh;
  margin-bottom: 5vh;
  -webkit-box-shadow: 10px 5px 5px $color5;
  -moz-box-shadow: 10px 5px 5px $color5;
  box-shadow: 10px 5px 5px $color5;
}
#button{
  background-color: transparent;
  height: 100%;
  border: none !important;
}
#button i{
  opacity: 0.6 !important;
  transition: 0.6s;
}
.button-group{
  box-shadow: none !important;
  border: none;
}
.atelier-info{
  list-style-type: circle;
}
.vertical-h1{
  writing-mode: horizontal-tb;
  text-orientation: upright;
  word-break: keep-all;
}
.slider-adapt{
  width: auto !important;

}
.caption-hover{
  opacity: 0.1;
  transition: 1s;
  z-index: 1001;
}
#carouselExampleIndicators
{
  overflow: hidden;
}
.carousel-control-prev,
.carousel-control-next{
    color: $color3 !important;
    z-index: 12000 !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}
.link{
    pointer: auto !important;
}
.link2{
  font-size: 20px !important;
  line-height: 40px;
  margin-top: 30px;
}
.pointer-none {
  pointer-events: none;
}
.pointer-auto{
  pointer-events: auto;
}
.z8000{
   z-index: 8000;
}
.contact-bloc{
  line-height: 40px;
}
.contact-bloc2 {
  line-height: 60px;
}
.resources-line{
  transition: 0.3s;
}
.connected-link{
  transition: 0.3s;
}
.ovh{
    overflow: hidden !important;
}
.caption3 {
  position: absolute;
  top: 35%;
  padding: 30px;
  left: 25%;
  margin-bottom: 30px;
  opacity: 1;
  transition: 0.3s;
  pointer-events: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
 .caption6 {
   position: absolute;
   top: 15%;
   padding: 3px;
   background: $color3;
   border-radius: 50%;
   left: 20%;
   margin-bottom: 30px;
   opacity: 1;
   transition: 0.3s;


 }

 .caption7 {
   position: absolute;
   top: 20%;
   padding: 3px;
   background: $color3;
   border-radius: 50%;
   right: 10%;
   opacity: 1;
   z-index: 1000;
   border-radius: 50%;


 }
 .caldera-grid{
   width: 100% !important;
 }
 .caldera-grid input,
 .caldera-grid button{
   display: block !important;
   width: 100% !important;
  }
.sfsi_wDiv {
  display: flex !important;
  justify-content: space-around;
  width: 100% !important;

}
.filter-button{
    transition: 0.3s !important;
    border-radius: 5px !important;
    line-height: $t2;
    font-size: $t2;
}
.post-overlay{
     font-family: 'Marcellus', serif;
   // font-family: 'Montserrat', sans-serif;
  // font-family: 'Alegreya', serif;
    position: absolute;
    top: 0vh !important;
    bottom: 0 !important;
    overflow-y: hidden;
//    display: none !important;
    transition:1s;
    z-index: 901;
    padding: 20px;
    cursor:pointer;
    opacity: 1;
    margin: 0 !important;
    // font-size: 14px !important;
    width: 100% !important;
    background-color: $color6 !important
}


@import "partials/responsive_tablet";
@import "partials/responsive_desktop";
@import "partials/responsive_large_desk";
@import "partials/states";
