 <footer class="row">
    {% include 'partial/sections/accueil/section4-contact.twig' %}
   
    {% include 'partial/blocs/certifications.twig' %}
    <p class="col-md-4 p-10 t5 t-a-center"><a href="">conditions générales de vente</a></p>
    
    <p class="col-md-4 t5 p-10 t-a-center"><a href="{{site.url}}/politique-de-confidentialite/">politique de confidentialité</a></p>
    
    <p class="col-md-4 t5 p-10 t-a-center"><a href="{{ site.url }}/mentions-legales/">mentions légales</a></p>
    <div class="col-12 ">
        <div class="m-a fb-like t-a-center m-a d-block" data-href=" {{ post.link }} " data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></div>
    </div>
     <div class="h10 mt-10 col-12 black row">
        <hr class="brd-c1 col-md-3 d-none d-md-block"> 
        <div class="col-md-3 d-none d-md-block">
            
                <img src="{{ theme.link }}/assets/img/frondaison-black.png" alt="" class="w-10 mb20 d-inline-block">  tous droits réservés: armellin.fr®
        </div>
        <hr class="brd-c1 col-md-4 d-none d-md-block">
            
    </div>
</footer>