<header class="header2 container-fluid">
    <div class="row">

        <div class="col-5 col-md-2 col-lg-1">
        
            <a href=" {{ site.url }} ">
                <img class="w-100 logo img" src="{{ theme.link }}/assets/img/etude-logo.png" alt="logo">
            </a>
        </div>
        <div class="d-block d-md-none offset-5 offset-md-9"></div>
        {# {% include "views/partial/menus/desk-dropdown.twig" %} #}
        {% include "views/partial/menus/desk-dropdown2.twig" %}
        {% include "views/partial/menus/smart-dropdown.twig" %}



    </div>
</header>