<a class="totop d-none d-md-block t-lg-12" id="totop" href="{% if url == '/realisations/' %}#article-rea{% else %}#article-anch{% endif %}">
    <div>
        <i class="far fa-chevron-double-up t12"></i>
    </div>

</a>