<section class="container-fluid row">
    <div class="col-8">
    <div class="col-6 col-md-4">
            </div> 
    {% for term in post.terms %}
         <pre>

            {{ dump(term) }}
        </pre>
    {% endfor %}
       

</section>