<div class="h10 mt20 row">
    <hr class="col-md-3 d-none d-md-block">
    <div class="col-2 col-md-1">
        <img src="{{ theme.link }}/assets/img/frondaison-black.png" alt="" class="w-100 w-md-50 m-a d-block">
    </div>
    <p class="col-md-2 d-none d-md-block">armellin.fr</p>
    <hr class="col-md-4 d-none d-md-block">
</div>