<div class="l-2 caption2 bk6 caption5 mce-active carousel-caption hmax70vh wmax-lg-40 mce-active d-none d-md-flex d-lg-block t4">
        {# petit logo #}
        <div class="w-lg-50 wmax-md-40 p10 m-a">
            <img src="{{ theme.link }}/assets/img/etude-logo-white.png" class="w-lg-100" alt="logo de {{ site.url }} ">
        </div>

        {# Nom #}

        <p class=" m-a green p20 mb40  t-a-center t8">
            {{ site.description|upper}}
        </p>

        {% include 'partial/anchors/anchor1.twig' %}

</div>
