<div class="l-2 bk6 caption5 mce-active carousel-caption hmax60vh wmax-lg-40 mce-active d-none d-md-flex d-lg-block t4">
    {# petit logo #}
    <div class="w-lg-40 wmax-md-30 m-lg-a p10">
        <img src="{{ theme.link }}/assets/img/etude-logo-white.png" class="w-lg-100" alt="logo de l'association">
    </div>

    {# Nom #}
    <h2 class=" m-a p20 mb40 lh8 t-a-center t8">
        {{ post.title}}
    </h2>
    <h1 class=" m-a green p20 mb20 italic t-a-center">
        {{ site.description|upper}}
    </h1>

    {% include 'partial/anchors/anchor1.twig' %}

</div>
