<div class="container-fluid  filter-button-group button-group js-radio-button-group row">
  <button data-filter="*" autofocus="autofocus" id="all" class="m-a pb5 pt5 pl10 pr10 op8 filter-button t4 m-a t-a-center mb10 ">
    Tout
  </button>
  {% for taxo in taxos  %}

    <button   data-filter=".{{ taxo.id }}" class="m-a pb5 pt5{% for act in acts %} {% for term in act.terms  %} {% if taxo.name == term.name %} {% else %} d-none {% endif %} {% endfor %} {% endfor %} filter-button  op8  mb10 brd-none no-outline">
      {{ taxo.name }}
    </button>
  {% endfor %}

</div>
