HTML CSS JSResult Skip Results Iframe
EDIT ON
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}

body {
  background: #111;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:80px;
  max-height:500px;
  margin:0;
  background:#abc;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > button{
  display:block;
  padding:5px;
  transform:rotate(90deg);
  transform-origin: right top;
}





.rectangles{
  top:100px;

}
.rectangles > button{

  margin:50px 10px;
  padding:5px;
  transform:rotate(90deg) translateY(80px);
  transform-origin: right top;
}



// Resources1× 0.5× 0.25×Rerun
